.col1 {
    text-align: right;
}

.col2 {
    text-align: right;
}

.section2 {
    text-align: center;
    
}

h5 {
    color: gray;
}


/*Spacers*/

.divider1 {
    padding: 15px;
}

.divider2 {
    padding: 45px;
}

/*HTML Img Logo*/
#htmllogoimg {
    width: 209px;
    height: 210px;
}

#logo2 {
    width: 209px;
    height: 190px;
}

/*Jumbotron*/
.jumbotron {
    text-align: center;
}

/*Template Description*/
.templatedescription {
    text-align: left;
}

.card {
    text-align: left;
}

/*Section logos*/
.sectionlogos {
    margin-left: 15%;
    margin-right: 15%;
}

.CenterAreTitle {
    text-align: center;
}

/*This is the Jumbotron section called "mainboard"*/
.mainboard {
    background-image: url(https://unsplash.com/photos/EhTcC9sYXsw);
}

.jumbotron {
    background-image: url("Assets/Imgs/colors.jpg");
    background-size: cover;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 19px 0 rgba(0, 0, 0, 0.19);
  }

  .jumbocontent {
    position: absolute;
    left: 50%!important;
    z-index: 10;
    color: black;
    text-align: center;
    top: 42%!important;
    transform: translate(-50%, -50%);
    width: fit-content;
    padding: 40px!important;
  }

  .card-img {
      width: 100px;
      height: 325px;
      text-align: center;
  }

  .navbar li {
    margin-left:20px;
    margin-right:20px;
    font-size: 18pt;

  }

  .imgbutton {
      text-align: center;
  }

iframe {
    width: 900px;
    height: 500px;
}


/*HOME PAGE*/
.card {
    text-align: center;
    
}

.FeatureTitle {
    text-align: center;
}

.FeatureIcons {
    text-align: center;
}

#ContentTitle {
    text-align: center;
    font-size: 48px;
}

#iconsstyle {
    text-align: center;
    font-size: 60px;
    color: #aaf683;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

#icons {
    padding-right: 1em;
 }

 #icon {
    height: 95px;
    width: 95px;
    
    }
    
    .Businfo {
    text-align: center;
    }

    #conecticons {
        text-align: center;
        
    }

     /*Parallax*/
  .para-slide {
	width:100%;
	position:relative;
	text-align:center;
	height:100vh;
}
.para-slide h1 {
	margin:0;
	padding-top:5%;
	font-size:3.5em;
	color:white;
}
.para-slide h2 {
	margin:0;
	padding-top:10%;
	color:white;
	font-size:3.75em;
}
.para-slide h3 {
	color:white;
	margin-top:0;
}
.para-slide p {
	color:white;
	font-size:1.5em;
	margin:0;
	padding-top:3%;
	padding-bottom:3%;
	max-width:65%;
	margin:auto;
}

.paratext {
    text-align: center;
}


#logosize {
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

